<h2>Edit artist</h2>

<%= render "form.html", changeset: @changeset,
                        action: artist_path(@conn, :update, @artist) %>

<span><%= link "Back", to: artist_path(@conn, :index) %></span>
